name: CI

on:
  push:
    branches: [ master ]
  release: 
    types: [published]

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      env:
        filename: .env
      run: |
        echo "before"
        ls -la
        echo "HELLO World!" > ".txt"
        echo "after"
        ls -la

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2
      
    - name: Run a one-line script
      run: |
        cd /usr/local/lib/android/sdk/build-tools/30.0.3
        ls

    - name: Test ZipAlign
      run: |
        /usr/local/lib/android/sdk/build-tools/30.0.3/zipalign
    - name: Test ApkSigner
      run: |
        /usr/local/lib/android/sdk/build-tools/30.0.3/apksigner
